<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link
          th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css"
          rel="stylesheet"
  />
  <style>
      .background {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container {
        max-width: 400px;
      }
    </style>
</head>
<body>
<div class="background">
  <div class="container">
    <div class="py-1 text-center">
      <h2 style="margin-bottom: 30px">구매확정을 완료했습니다.</h2>
    </div>
    <div>
      <button class="w-100 btn btn-primary btn-lg" type="button" onClick="location.href='/reservationItems'">돌아가기</button>
    </div>
  </div>
</div>
</body>
</html>
