:root{
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color:#d49466;
}

body {
    margin: 0px;
    font-family: 'Open sans';
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#263343;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu li {
    padding: 8px 12px;

}
ul{
    text-align: right;
    vertical-align: middle;
}
li {
  font-size: 16px;
  color: black;
  list-style: none;
  float: right;
  height: 100%;
  padding: 0 10px;
  vertical-align: middle;
  display: inline-block;
}
.navbar__menu :hover {
    background: #d49466;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0px;
}

.navbar__icons li {
    padding: 8px 12px;
}

.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }



    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__menu {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}